<h1>Create Comic</h1>
<form method="post">
    <label>Nombre: </label>
    <input type="text" name="Nombre" class="form-control" />
    <label>Imagen: </label>
    <input type="text" name="Imagen" class="form-control" />
    <label>Descripcion: </label>
    <input type="text" name="Descripcion" class="form-control" />
    <button class="btn btn-info">Insertar Comic</button>
</form>